* {
    box-sizing: border-box;
}

body {
    padding:0;
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(0deg, #6a60603b, #22222217);
    font-size: 25px;
}

.main-container {
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 4px 4px 15px black;
    width: 500px; 
    height: 700px;
    display:flex;
    flex-direction: column;
}

.display, 
.panel,
.top,
.bot {
    display:flex;
}

.display {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    flex:1;
    padding: 15px 25px;
    flex-direction: column;
    border-bottom: 1px solid black;
    background-color: black;
}

.panel {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    flex:2.5;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    padding: 15px 25px;
    border-top: 1px solid black;
    background-color: black;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
    flex:1;
}

.row button {
    flex:1;
    border-radius: 100px;
    padding:0;
    margin:0;
    border: 2px solid black;
    background-color: #333333;
    color:white;
    font-size:40px;
}

.row .span-2 {
    flex:2;
}

.top, .bot {
    flex:1;
    justify-content: flex-end;
    align-items: center;
}

.top {
    font-size: 35px;
    color:white;
}
.bot {
    font-size: 45px;
    color:white;
}

.row .operator {
    background-color: #ff9e30;
    color:white;
}

.row .gray-btn {
    background-color: #a5a5a5;
    color: black;
}

.number:hover {
    transition: background-color 0.5s;
    background-color: #ffffff82;
}

.row .gray-btn:hover {
    transition: background-color 0.5s;
    background-color: #ffffffe6;
}

.row .operator:hover, .operator.operator-activated {
    transition:all 0.5s;
    color: #ff9e30;
    background-color:white;
}
